.DS_Store
.dart_tool/

.idea
.vscode
.metadata
*.iml

.packages
.pub/
pubspec.lock

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
example/ios/Flutter/flutter_export_environment.sh
